html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    height:100%;
}
h1, h2, h3, h4, .cta, .navigationbar {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 2.5px;
}
h1 {
    font-size: 60px;
    white-space: nowrap;
}
a {
    color: #150259;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main {
    margin-top: 320px; /* min250px */
    margin-bottom: 200px;
}
.skip {
    font-size: 0.5rem;
    font-family: sans-serif;
    font-weight: 100;
    padding: 5px;
    z-index: 100;
    margin: 0 0 -1px 0;
}
/* HEADER & FOOTER */

footer, header, .navigationbar {
    border: 1px solid #150259;
    background-color: #F8FBFF;
    position: absolute;
    height: 180px;
    width: 100%;
    max-width: 1500px;
    animation-name: "show-page";
    animation: "show-page" 0.3s forwards;
}
header {
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 0 0 20px 20px;
}
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.footertext {
    margin: 10px 50px 5px 150px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
}
.footericons {
    align-items: end;
    margin: -25px 100px 5px 50px;
}
.footericons img {
    width: 50px;
    margin: 0 0 0 5px;
}

/* NAVIGATION */

.searchbar {
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
    border-radius: 6px;
    margin: 5px;
    z-index: 100;
    border: 2px solid #150259;
}
.searchbarinput {
    width: 200px;
    height: 25px;
}
.navigationbar {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    font-size: 2rem;
    font-weight: bolder;
    top: 230px;
    right: 50%;
    margin: -50px -450px 0 0;
    height: 80px;
    width: 900px;
    white-space: nowrap;
    border-radius: 0 0 20px 20px;
    letter-spacing: 9px;
    z-index: -1;
}
.logoindex {
    transition: transform 0.2s ease
}
.logocontainerindex {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.logocontainerindex h1 {
    margin: 50px 0 25px -125px;
}
.logo, .inputlogomobile {
    max-width: 150px;
    max-height: 150px;
}
.logocontainer {
    display:flex;
    flex-direction: row;
    margin: auto;
}
.logocontainer h1 {
    margin: 25px 0 0px -30px;
}
nav {
    display: flex;
    top: 130px;
    margin:auto;
    gap: 20px;
}
nav a  {
    text-decoration: none;
}
nav a:nth-child(2)  {
    z-index: 2;
}
/* CTA */

.cta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black ;
    min-width: 190px;
    max-height: 20px;
    padding: 20px 5px;
    background-image: url(/images/ctabckg.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
    border: 1px solid #150259;
    border-radius: 6px;
    white-space: nowrap;
    transition: all 0.2s ease;
}
.cta:is(:hover,:active):not(.active) {
    white-space: nowrap;
    transform: scale(1.1);
    border-radius: 6px 6px 50% 50%;
    padding: 40px 5px;    
}
.ctaround, .link {
    transition: transform 0.1s ease;
}
:is(.ctaround,.link):hover {
    transform: scale(1.1) rotate(-1deg);
}
:is(.ctaround,.link):active {
    transform: scale(1.2) rotate(1deg);
}
.active {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 5px #3FA652, 1px -1px 5px #3FA652 ;
}
/* BACKGROUNDS */

.index, .about, .exhibitions, .visit, .contact {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.index {
    background-image: url(/images/index/index.jpg);
}
.about {
    background-image: url(/images/about/about.jpg);
}
.exhibitions {
    background-image: url(/images/exhibitions/exhibitions.jpg);
}
.visit {
    background-image: url(/images/visit/visit.jpg);
}
.contact {
    background-image: url(/images/contact/contact.jpg);
}

/* LAYOUT */

.smallsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-width: 100%;
    height: 500px;
    border: 1px solid #150259;
    margin: 50vh 0;
    background-color: #F8FBFF;
}
.smallsection div {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    min-width: 400px;
}
.smallsection div > * {
    margin: 50px
}
.smallsection img {
    height: 400px;
    width: 420px;
    object-fit: cover;
    margin: 50px 10%;
}
.largesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    margin: auto;
}
.largesection * {
    white-space: nowrap;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black ;
    text-decoration: none;
}
.singlesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F8FBFF;
    border: 1px solid #150259;
    border-radius: 6px;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
}
.singlesection p {
    max-width: 500px;
    margin: 20px;
}
.bannerimage {
    width: 97%;
    height: 150px;
    margin-top: 10px;
    object-fit: cover;
    object-position: 0 30%;
}

/* CARDS */

.cardsinsection {
    display: grid;
    margin: 20px 0;
}
.cardsection:not(:first-child) {
    margin: 50vh 0;
}
.cardsection h4 {
    font-size: 20px;
    text-align: center;
    border: 1px solid #150259;
    border-radius: 6px;
    background-color: #ffffff;

}
.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 480px;
    border: 1px solid #150259;
    border-radius: 6px;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
    margin:auto;
}
.card:hover {
    transform: scale(1.1)
}
.card img {
    width: 95%;
    height: 260px;
    object-fit: cover;
}
.card > * {
    margin: auto;
}
.card > *:not(img) {
    max-width: 270px;
    margin: auto;
}
.card .link {
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    
}
.squaresection {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.square, .socialmedia, .address, .contactform {
    display: flex;
    justify-content: center;
    border: 4px solid #F8FBFF;
    width: 300px;
    height: 300px;
    border-radius: 6px;
    text-decoration: none;
    background-size: cover;
    background-position-x: center;
}
.square:nth-child(1), .socialmedia {
    background-image: linear-gradient(#00000060, #00000060), url(/images/contact/socialmedia.jpg);
}
.square:nth-child(2), .address {
    background-image: linear-gradient(#00000060, #00000060), url(/images/contact/address.jpg);
}
.square:nth-child(3), .contactform {
    background-image: linear-gradient(#00000099, #00000099), url(/images/contact/contactform.jpg);
}
.square, :is(.address, .socialmedia, .contactform) :is(a,h3,.backbutton) {
    text-align: center;
    font-size: 1.7rem;
    color: #F8FBFF;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black ;
    text-decoration: none;
}

.backbutton {
    padding: 30px;
    text-decoration: underline;
    color: #150259;
}

.smallsquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #150259;
    border-radius: 6px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

/* VISIT */

.visit main {
    display: flex;
    flex-direction: column;
}
.singlesection iframe {
    margin: 10px;
}
.card .cta:hover {
    white-space: nowrap;
    transform: scale(1.15);
    border-radius: 50% 50% 6px 6px;
    padding: 30px 5px;    
}

/* CONTACT */

.address, .socialmedia, .contactform {
    padding: 0;
    height: 500px;
}
:is(.socialmedia, .address, .contactform) .backbutton {
    margin-top: -90px;
    margin-bottom: 90px;
    align-self: start;
    top: 5px;
    left: 5px;
    position: relative;
}
.contactform {
    height: 700px;
}
.socialmedia a:not(:first-child) {
    margin: 5px;
}
#contactform {
    display: flex;
    flex-direction: column;
}
#contactform label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #F8FBFF;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black ;
    margin: 20px 0 5px 0;
}
#contactform textarea {
    margin: 0 0 10px 0;
}
.contactform .cta {
    max-height: 70px;
}
.contactform .cta:hover {
    white-space: nowrap;
    transform: scale(1.15);
    border-radius: 50% 50% 6px 6px;
    padding: 30px 5px;    
}

/* MISC */

.reversed {
    flex-direction: row-reverse;
}
.hidden {
    display:none;
}
.inactive {
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}
.checkboxhack {
    display:none;
}
.inputlogomobile {
    display: none;
}
.flyinglogo {
    display: none;
    position: fixed;
    width: 150px;
    top: -15px;
    left: -15px;
    z-index: 5;
    transition: transform 0.3 ease;
}


/* TABLET */

@media screen and (max-width: 1087px) {

    h1 {
        font-size: 2.3rem;
    }
    nav .cta {
        min-width: 100px;
        font-size: 1.5rem;
    }

    .largesection * {
        white-space: normal;
    }
    .navigationbar {
        font-size: 1.3rem;
        margin: -50px -300px 0 0;
        height: 70px;
        width: 600px;
        letter-spacing: 5px;
        z-index: -1;
        padding-bottom: 3px;
    }
    .logoindex {
        max-width: 150px;
        max-height: 150px;
    }
    .logocontainerindex {
        display:flex;
        flex-direction: row;
        margin: auto;
    }
    :is(.logocontainer, .logocontainerindex) h1 {
        margin: 35px 0 0px -30px;
        letter-spacing: normal;
    }
    .cardsinsection {
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .footericons {
        display: none;
    }
    footer {
        justify-content: center;
    }  
    .footertext {
        margin: 10px 0 5px 0;
        display: grid;
        grid-template-columns: repeat(2, 150px);
    }
    .smallsection {
        flex-direction: column;
        height: 700px;
    }
    .smallsection div p {
        margin: 20px;
    }
    .smallsection div :is(h3,a) {
        margin: auto;
    }
    .squaresection {
        flex-direction: column;
    }
    .square  {
        width: 500px;
        height: 500px;
    }
    
}

/* MOBILE */

@media screen and (max-width: 700px) {

    header {
        height: 110px;
    }
    nav {
        display: none;
    }
    :is(.logocontainerindex, .logocontainer) h1 {
        font-size: 1rem;
        margin: 50px 0 0 100px;
    }
    .navigationbar {
        font-size: 1.1rem;
        margin: -120px -165px 0 0;
        height: 20px;
        width: 330px;
        border-radius: 0 0 10px 10px;
        letter-spacing: 3px;
    }
    .mobilewelcome:after {
        content:"Press our logo to bring up the navigation!"
    }
    #mobilenav:checked ~ .checkboxhack {
        display:flex;
        opacity: 100%;
    }
    #mobilenav:checked ~ :is(.logoindex, .logo) {
        transform: rotate(90deg);
    }
    #flyinglogo:active ~ .flyinglogo {
        display: block;
        transform: scale(2);
        top: 0px;
        left: 0px;
    }
    .inputlogomobile {
        display: block;
        position:fixed;
        z-index: 10;
        opacity: 0%;
        top: -15px;
        left: -15px;
    }
    .logoindex, .logo {
        position: fixed;
        z-index: 5;
        top: -15px;
        left: -15px;
    }
    .checkboxhack {
        position: fixed;
        flex-direction: column;
        left: 0;
        background-color: #F8FBFF;
        border: 1px solid #150259;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 0 0 10px;  
    }
    .skip {
        display: none;
    }
    .cta:is(:hover,:active), .active {
        border-radius: 30% 30% 30% 30%;
        padding: 25px 5px;
    }
    :is(.socialmedia, .address, .contactform) .backbutton {
        top: -10px;
        left: -5px;
        position: relative;
    }
    .socialmedia .backbutton {
        top: -50px;
    }
    .cardsinsection {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .largesection * {
        font-size: 25px;
        white-space: normal;
        margin-bottom: 80px;
        text-shadow: 1px 1px 2x black, -1px -1px 2px black, -1px 1px 2px black, 1px -1px 2px black;
    }
    .largesection div h3 {
        margin: 10px;
    }
    .singlesection {
        min-width: 350px;
        max-width: 100%;
    }
    .singlesection p {
        max-width: 350px;
        margin: 20px;
    }
    .smallsection img {
        height: 50%;
        width: 90%;
        margin-top: 0;
    }
    .square, .socialmedia, .address, .contactform {
        max-width: 300px;
    }
    .square {  
        max-height: 300px;
    }
    .ctaround {
        width: 75px;
        height: 75px;
        
    }
}


/*DESKTOP ONLY*/

@media screen and (min-width: 1087px) {

    .cardsinsection {
        display:flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 500px;
        border: 1px solid #150259;
        background-color: #F8FBFF;
        gap: 20px;
    }
    .logoindex {
        max-width: 350px;
        transform: rotate(-20deg);
        margin: -20px 0 0 -100px;
    }
    .logocontainer h1 {
        margin: 25px 0 0px -77px;
    }
    .navindex {
        margin-top: -175px;
    }
    .hiddendesktop {
    opacity: 0%;
    }
    
    .smallsection img {
        margin: 50px 10%;
    }
    
    .address .smallsquare:hover {
        transform: scale(2);
        font-size: 1.5rem;
    }
}

@keyframes show-page {
    0% {opacity: 0%}
    50% {opacity: 50%}
    100% {opacity: 100%}
}