html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
h1, h2, h3, .cta {
    font-family: "Orbitron", sans-serif;
}
h1 {
    white-space: nowrap;
    font-size: 60px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}
main {
    flex: 1;
}
header {
    display: block;
    text-align: center;
    margin: auto;
    background-color: #F8FBFF;
    height: 180px;
    width: 80em;
    border-radius: 0 0 20px 20px;
    border: 1px solid #150259;
}
footer {
    display: block;
    text-align: center;
    margin: auto;
    background-color: #F8FBFF;
    height: 100px;
    width: 80em;
    border-radius: 20px 20px 0 0;
    border: 1px solid #150259;
}
.logoindex {
    width: 350px;
    transform: rotate(-20deg);
    margin: -20px 0 0 -100px;
}
.logocontainerindex {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.logocontainerindex {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.logocontainerindex h1 {
    margin: 50px 0 25px -80px;
    color: #150259;
}
nav {
    top: 130px;
    margin: 0 0 0 300px;
    position: absolute;
}
nav ul  {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;

}
.cta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black ;
    width: 190px;
    height: 30px;
    padding: 20px 5px;
    background-image: url(/images/ctabckg.gif);
    background-position: 20% -75%;
    color: white;
    font-weight: bolder;
    border: 1px solid #150259;
    border-radius: 6px;
}
.home {
    background-image: url(/images/index/index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter:blur(8px);
}